
#component {
  min-height: 100vh;
  background-image: url("../../assets/pictures/soon.jpeg");
  background-position: center;
  background-size: cover;
}


#center {
  color: #ffffff;
  text-align: center;
  padding-top: 3em;
}
